.star-btn {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  width: 80px;
  cursor: pointer;
  padding: 3px 20px 0px 10px;
}

.star-btn:focus {
  outline: none;
}

.star-btn__svg {
  width: 10px;
  margin-right: 5px;
}