body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 26px;
  line-height: 30px;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

h3 {
  font-size: 14px;
  line-height: 21px;
}

p {
  font-size: 14px;
}