.description-list {
  list-style-type: none;
  padding: 16px 0;
  border-top: solid 1px #eaecef;
}

.description-item {
  display: flex;
  padding-top: 4px;
  padding-left: 22px;
}

.description-text {
  font-size: 14px;
}

.description-svg {
  width: 22px;
  margin-left: -22px;
}
